/*-- scss:defaults --*/

.title {
  font-size: 120px !important;
  color: red !important;
}

.quarto-title-author-name {
  font-size: 100px;
  color: blue !important;
}

.date {
  font-size: 80px;
  color: green !important;
}
/*-- scss:rules --*/